.foto-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}
.foto-usuario {
  display: flex;
  align-items: center;
  width: 10%;
  margin-left: 0;
  font-weight: bold;
}

.foto-usuario a {
  text-decoration: none;
  color: #069;
}

.foto-usuario img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: .7em;
}

.foto-data {
  color: #999;
}

.foto-src {
  max-width: 100%;
}
