.foto-info {
  padding: 1em;
}

.foto-info-likes {
  list-style: none;
}

.foto-info-likes a {
  text-decoration: none;
  color: #069;
  font-weight: bold;
}

.foto-info-likes li {
  display: inline-block;
}

.foto-info-autor {
  font-weight: bold;
}


.foto-info-comentarios {
  list-style: none;
  padding: 0;
  line-height: 1.2;
  border-bottom: 1px solid #efefef;
  padding-bottom: 1em;
}

.comentario {
  margin-bottom: .6em;
}
