.fotoAtualizacoes {
  display: flex;
  padding: 0 1em 1em 1em;
}

.fotoAtualizacoes-like {
  background: url(/img/s2.png) no-repeat center center;
  background-size: 32px 32px;
  width: 44px;
  height: 44px;
  text-indent: -9999px;
  display: inline-block;
  transition: .4s;
  margin-right: 1em;
}

.fotoAtualizacoes-like:hover {
  background-image: url(/img/s2-check.png)
}

.fotoAtualizacoes-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.fotoAtualizacoes-form-campo {
  border: 0;
  outline: 0;
  width: 60%;
}

.fotoAtualizacoes-form-submit {
  border: 0;
  background-color: #069;
  color: #fff;
  height: 2.4em;
}